.bingo-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.bingo-cell {
  border: 2px solid pink;
  /* height: 70px; */
  padding: 21px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.bingo-cell-selected {
  background-color: pink;
  color: navy;
  transition: background-color 0.5s;
}
