html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  color: #d636bc;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}


.sky{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow: hidden;
  background-color: #04001f;
  z-index: -1;
  transition: background-color 3s ease-in-out ; 
}

.sky.day{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow: hidden;
  background-color: #fff;
  z-index: -1;
  
}


.star, .inside{
  height: 50px;
  width: 50px;
}

.star {
  position: fixed;
  background-color: #ff0080;
  transition: all 0.3s ease-in-out, top 97.7s ease-in-out,left 177.7s ease-in-out; 
  display: none;
}

.inside {
  position: absolute;
  background: #04001f;
  box-shadow: 0 0 3px 3px #04001f;
  border-radius: 50%;
  transition: background-color 3s ease-in-out, box-shadow 3s ease-in-out;
}

.day .inside {
  background: #fff;
  box-shadow: 0 0 3px 3px #fff;
}

.top-left {
  top: -25px;
  left: -25px;
}


.bottom-left {
  bottom: -25px;
  left: -25px;

}


.top-right {
  top: -25px;
  right: -25px;
}

.bottom-right {
  bottom: -25px;
  right: -25px;
}


.img {
  margin: 40px auto 0;
  width: 500px;
  display: block;
}
.img img {
  width: 100%;
  border-radius: 5px;
}

p {
  padding: 5px 10px;
  display: inline-block;
  margin: 10px auto;
}
