html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Monospace, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  padding: 0 13%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  padding: 5rem 0;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.title {
  color: #d636bc;
  text-align: center;
}

.typewriter {
  display: flex;
  flex-shrink: 0;
  position: absolute;
  overflow: hidden;
  color: #d636bc;
  border-right: 0.15em solid violet;
  white-space: nowrap;
  letter-spacing: 0.15em;
  margin: 0 auto;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: violet;
  }
}

.sky {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #04001f;
  z-index: -1;
  transition: background-color 3s ease-in-out;
}

.sky.day {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: -1;
}

.star,
.inside {
  height: 50px;
  width: 50px;
}

.star {
  position: fixed;
  background-color: #ff0080;
  transition: all 0.3s ease-in-out, top 97.7s ease-in-out,
    left 177.7s ease-in-out;
  display: none;
}

.inside {
  position: absolute;
  background: #04001f;
  box-shadow: 0 0 3px 3px #04001f;
  border-radius: 50%;
  transition: background-color 3s ease-in-out, box-shadow 3s ease-in-out;
}

.day .inside {
  background: #fff;
  box-shadow: 0 0 3px 3px #fff;
}

.top-left {
  top: -25px;
  left: -25px;
}

.bottom-left {
  bottom: -25px;
  left: -25px;
}

.top-right {
  top: -25px;
  right: -25px;
}

.bottom-right {
  bottom: -25px;
  right: -25px;
}

.img {
  margin: 40px auto 0;
  width: 500px;
  display: block;
}
.img img {
  width: 100%;
  border-radius: 5px;
}

p {
  padding: 5px 10px;
  display: inline-block;
  margin: 10px auto;
}

.button {
  margin-top: 200px;
  justify-self: center;
}

.flooper-btn,
.flooper-btn-bingo {
  margin-top: 120px;
  position: relative;
  width: 200px;
  height: 50px;
  display: flex;
  border-radius: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flooper-btn:hover,
.flooper-btn-bingo:hover {
  border-radius: 0px;
  align-self: flex-end;
}

.flooper-btn::before,
.flooper-btn-bingo::before {
  content: "";
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 200px;
  height: 50px;
  background: rgb(92, 8, 95);
  transition: all 0.6s ease-in-out;
}

.flooper-btn:hover:before,
.flooper-btn-bingo:hover:before {
  background: white;
  border-radius: 0px;
  transition: all 0.6s ease-in-out;
}

.flooper-btn::after,
.flooper-btn-bingo::after {
  content: "mystery countdown";
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  text-align: center;
  overflow: hidden;
  border-radius: 100px;
  border: 1px solid violet;
  color: white;
  text-shadow: 1px 1px 0px black;
  font-weight: 400;
  font-size: 12pt;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0) 0px,
    violet 15px,
    rgba(0, 0, 0, 0) 30px,
    rgba(0, 0, 0, 0) 45px,
    violet 70px,
    rgba(0, 0, 0, 0) 49px
  );
  background-size: 2px;
  background-position: top right;
  background-repeat: repeat;
  z-index: 10;
  transition: all 0.6s ease-in-out;
}

.flooper-btn-bingo::after {
  content: "F1 Bingo";
}

.flooper-btn:hover::after,
.flooper-btn-bingo:hover::after {
  background-size: 20%;
  text-shadow: 1px 1px 0px white;
  background-position: center;
  border-radius: 0px;
  color: black;
  border: 1px solid black;
  transform: rotateX(360deg);
  box-shadow: 1px 1px 0px violet, 2px 2px 0px violet, 3px 3px 0px violet,
    4px 4px 0px violet, 5px 5px 0px violet, 6px 6px 0px violet;
  transition: all 0.6s ease-in-out;
}
